@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Uso del patron bridge.</p>
    <p>Seleccione la pestana Bridge</p>
    <div>
    <section>
        <a href="">
            <img src="~/lib/bridge.png" alt="Imagen de bridge" width="500" height="333">
            <br>
            
        </a>
        </section>
</div>
</div>
